body{
	color: red;
	font-size: 30px;
}
p{
	color: green;
	font-size: 18px;
}
span{
	display: block;
	background: blue;
	color: #fff;
	padding: 40px;
	font-size: 33px;
	border-radius: 10px;
	text-align: center;
}
strong{
	font-size: 25px;
	color: orange;
}